<!-- ko ifnot: ('href' in attrs) -->
  <button class="mdc-button" data-bind="
    mdc-attrs,
    mdc-bindings,
    mdc-ripple,
    css: {
      'mdc-button--dense': dense,
      'mdc-button--raised': raised,
      'mdc-button--compact': compact,
      'mdc-button--primary': primary,
      'mdc-button--accent': accent,
    }
  "><!-- ko mdc-child --><!-- /ko --></button>
<!-- /ko -->
<!-- ko if: ('href' in attrs) -->
  <a class="mdc-button" data-bind="
    mdc-attrs,
    mdc-bindings,
    mdc-ripple,
    css: {
      'mdc-button--dense': dense,
      'mdc-button--raised': raised,
      'mdc-button--compact': compact,
      'mdc-button--primary': primary,
      'mdc-button--accent': accent,
    }
  "><!-- ko mdc-child --><!-- /ko --></a>
<!-- /ko -->
