<div class="mdc-checkbox" data-bind="css: {
  'mdc-checkbox--disabled': bindings.disable
}">
  <input type="checkbox"
         class="mdc-checkbox__native-control"
         data-bind="mdc-attrs, mdc-bindings"/>
  <div class="mdc-checkbox__background">
    <svg version="1.1"
         class="mdc-checkbox__checkmark"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24"
         xml:space="preserve">
      <path class="mdc-checkbox__checkmark__path"
            fill="none"
            stroke="white"
            d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
  </div>
</div>
