<!-- ko mdc-child: nodeFilter --><!-- /ko -->
<div class="mdc-textfield" data-bind="
  css: {
    'mdc-textfield--multiline': multiline,
    'mdc-textfield--fullwidth': fullwidth,
    'mdc-textfield--invalid': invalid
  }
">
  <!-- ko ifnot: multiline -->
    <input class="mdc-textfield__input" data-bind="mdc-bindings, mdc-attrs" />
  <!-- /ko -->
  <!-- ko if: multiline -->
    <textarea class="mdc-textfield__input"
              data-bind="mdc-bindings, mdc-attrs"></textarea>
  <!-- /ko -->
  <!-- ko ifnot: fullwidth -->
    <label class="mdc-textfield__label" data-bind="
      text: label,
      attr: {
        for: attrs.id
      }
    "></label>
  <!-- /ko -->
</div>
<!-- ko if: help -->
<!-- ko ifnot: multiline -->
<!-- ko ifnot: fullwidth -->
  <p class="mdc-textfield-helptext"
     aria-hidden="true"
     data-bind="
      text: help,
      attr: { id: attrs['aria-controls'] },
      css: {
        'mdc-textfield-helptext--persistent': persistent,
        'mdc-textfield-helptext--validation-msg': validation
      }
     ">
  </p>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
