<header class="mdc-toolbar" data-bind="
  mdc-attrs,
  css: {
    'mdc-toolbar--fixed': fixed,
    'mdc-toolbar--waterfall': waterfall,
    'mdc-toolbar--fixed-lastrow-only': lastrow,
    'mdc-toolbar--flexible': flexible,
    'mdc-toolbar--flexible-default-behavior': flexible
  }
">
  <!-- ko mdc-children-transform: {
    depth: 2,
    attr: {
      start: 'mdc-toolbar__section--align-start',
      end: 'mdc-toolbar__section--align-end',
      shrink: 'mdc-toolbar__section--shrink-to-fit',
      title: 'mdc-toolbar__title',
      icon: 'mdc-toolbar__icon',
      menu: 'mdc-toolbar__icon--menu'
    },
    node: {
      'DIV': 'mdc-toolbar__row',
      'SECTION': 'mdc-toolbar__section'
    }
  } --><!-- /ko -->
</header>
